# build system
configure.py	@FFY00
build_system/	@FFY00

# docs
README.md	@FFY00 @perigoso
docs/		@FFY00 @perigoso

# CI
.github/			@FFY00
.clang-format			@FFY00
.pre-commit-config.yaml		@FFY00
.readthedocs.yml		@FFY00
setup.cfg			@FFY00

# Python
*.py		@FFY00

# HAL
src/hal/	@FFY00

# util
src/util/	@FFY00 @perigoso

# protocol
src/protocol/	@FFY00

# drivers
src/driver/	@perigoso

# platforms
src/platform/linux-uhid/	@FFY00
config/families/linux-uhid/	@FFY00

src/platform/stm32f1/		@perigoso @FFY00
config/families/stm32f1/	@perigoso @FFY00

src/platform/efm32gg/		@perigoso
src/platform/efm32gg12b/	@perigoso
config/families/efm32gg12b/	@perigoso

src/platform/samx7x/		@perigoso
config/families/samx7x/		@perigoso

# targets
src/targets/linux-uhid/		@FFY00
config/targets/linux-uhid/	@FFY00

src/targets/stm32f1-generic/	@perigoso @FFY00
config/targets/stm32f1-generic/	@perigoso @FFY00

src/targets/efm32gg12b-generic/		@perigoso
config/targets/efm32gg12b-generic/	@perigoso

src/targets/sams70-generic/		@perigoso
config/targets/sams70-generic/	@perigoso
